body{
    background-color: #19a077;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: #000000;
}

.game-container{
    text-align: center;
   
    width: 500px;
    border-radius: 15px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 75px;
    margin-bottom: 100px;
   box-shadow: 0 10px 50px 10px black;
 
   
}


.board{
   
    margin: 20px;

}
.cell{
    width: 150px;
    height: 150px;
    outline: 1px solid black;
    float: left;    
}
.title{
    padding-top: 20px;
}
button{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 40px;
    border-radius: 9px;
 
    color: rgb(255, 255, 255);
    background-color: rgb(23, 146, 39);
    cursor:grab;
   
}
button:hover{
    transition: 0.3s;
    background-color: #95f08c;
    color: #000000;
}